//----------------------------------------------
//  Media
//----------------------------------------------
img, svg, figure, picture, object, embed, iframe, video {
  max-width: 100%;
  height: auto;
  border: 0;
}
