//----------------------------------------------
//  Mast
//----------------------------------------------
.mast{
  position: relative;
  display:block;
  width: 100%;
  margin: 0 auto;
  padding: $pad-lg 0 $pad;

  &__title,  &__subtitle{
    @include font-rwd($font-xl, $font-xxl );
  }

  &__title {
    max-width: $measure-med;

    br {
      @media (max-width: $mq-med) {
        display: none;
      }
    }
  }

  &__subtitle {
    color: $color-grey-mid;
  }
}

.mast.is-centered {
  text-align: center;
}
