<footer class="app-footer">
  <i class="app-footer__icon js-emoji">📺</i>
  <p class="app-footer__text">
    Dope Vids for the Telly
  </p>
</footer>

<script type='text/javascript' src='assets/js/app.min.js'></script>
</body>
</html>
