<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
  <title>{{page_title}}</title>
  <meta name="author" content="Stephen Scaff">
  <meta name="description" content="{{page_title}}">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <link rel='stylesheet' href='assets/css/app.min.css' type='text/css' media='all' />
  <link rel='stylesheet' href='assets/css/fonts.min.css' type='text/css' media='all' />
</head>
<body class="{{body_class}}">
