<section class="playlist">
  <div class="grid-sm">
    <header class="playlist__header">
      <h5 class="playlist__title">Playlist</h5>
    </header>
    <div id="js-playlist" class="playlist__scroller"></div>
  </div>
</section>
